{% extends 'base.html' %}

{% block content %}


<body>

<a href="#section2">Go to Section 2</a>


<p>Course ID : {{ courses.0.course_unique_idx }}</p>
<p>Course short_name: {{ courses.0.short_name }}</p>
<p>Course long_name: {{ courses.0.long_name }}</p>

<br><br><br>
<p>prov_unique_idx ID : {{ provider.0.prov_unique_idx }}</p>
<p>short_name  : {{ provider.0.short_name }}</p>
<p>long_name I : {{ provider.0.long_name }}</p>
<p>admin_name  : {{ provider.0.admin_name }}</p>


<p>   <h1>Personal Details</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

</body>


{% endblock %}