{% extends 'base.html' %}
{% load static  %}
{% block content  %}
<body>
<div class="homepage-wrapper">
  <div class="left-column" >
     <h3>the Left Column </h3>
   
  </div><!-- end Left Column -->



      <div class="middle-column" >
         <h3>the Middle Column </h3>

                  <ul class="scrolling-list">
                      <h3>adverts pink </h3>
                                {% for item in ads_with_prov %} 
                                    {% if item.advert.priority == 1 %}                                   
                                      <div class="card text-light custom-card1 mb-3" style="max-width: 95%;">
                                        <p>prority =    {{ item.advert.priority  }}</p>
                                    {% else %}    
                                      <div class="card text-light custom-card2 mb-3" style="max-width: 95%;">
                                         <p>prority else =    {{ item.advert.priority  }}</p>
                                    {% endif %}
                                      <img src="{{ MEDIA_URL }}{{ item.provider.icon_file }}" width="80%" style="display: block; margin: 0 auto;">
                                      </div>
                                    <!--   
                                      <div class="card-header text-light bg-dark " style="display: block; margin: 0 auto;">
                                             {{ item.advert.short_name }}
                                      </div>
                                   
                                      <div class="card-body text-dark bg-dark">
                                          <h5 class="card-title bg-light ">  {{ item.advert.long_name }}  </h5>
                                       
                                          <p class="card-text text-light">
                                          
                                          <strong>Details:</strong> {{ item.advert.advert_text }} 
                                            <p>Provider: {{ item.provider.short_name }}<br>
                                            Provider Name: {{ item.provider.long_name }}</p>
                                            <br>
                                          <strong>For more information :</strong> {{ adverts.internal_link }}<br>
                                          </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                     -->
                                {% endfor %}  
                    </ul>


      </div><!-- end Middle Column -->

      <div class="right-column">
      
            <p><h3> Urgent - Shifts Available</h3></p> 
            <a href="/static/forums/forums_index.html ">Visit forums sss  Schools.com!</a>

                  <ul class="scrolling-list">
                      <h3>the loop loop </h3>
                                {% for shifts in shifts_list %} 
                                    <div class="card text-light bg-dark mb-3" style="max-width: 95%;">
                                      <div class="card-header text-light bg-dark ">
                                         {{ shifts.shift_title }}
                                      </div>
                                      <div class="card-body text-dark bg-light">
                                        <h5 class="card-title bg-light ">
                                          <p class="fs-6"> {{ shifts.shift_desc }}</p>
                                        </h5>
                                        <p class="card-text">
                                        <strong>Where:</strong> {{ shifts.shift_location }} 
                                        <strong>When:</strong>  {{ shifts.shift_date_time }} <br>          
                                        <strong>Employer:</strong> {{ shifts.emp_unique_idx.short_name }}<br>
                                        <strong>Hours: </strong>{{ shifts.duration }}<br>
                                        <strong>contact:  </strong>{{ shifts.cont_name }} <strong> Phone:  </strong>{{ shifts.cont_cell }}<br>
                                        <strong>Required: </strong>{{ shifts.ticketsreqd }} 
                                      </p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                {% endfor %}  
                    </ul>
        </div>  <!-- end right-column --> 
</div>  <!-- end <div class="homepage-wrapper"> -->
</body>




<style>
.homepage-wrapper {display: flex;flex-wrap: wrap;}
.left-column {width: 40%;margin-top: 30px;}
.middle-column {flex: 1;margin-top: 30px;}
.right-column {flex: 1;margin-top: 30px;}
.scrolling-list {overflow-y: scroll;height: 600px; /* or whatever height you want */}
/* Responsive styles */
@media (max-width: 768px) {.homepage-wrapper {flex-direction: column;}
.right-column {margin-top: 0;}
.scrolling-list {height: auto;max-height: 300px;}
</style>
{% endblock %}


