{% extends 'base.html' %}
{% load static  %}
{% block content  %}
<body>
<div class="homepage-wrapper">
  <div class="left-column" >
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> This is the first advert </p>
<p class="card-text"> TRAFFIC Fuckrers WANTED MUST HAVE DRIVERS LICENSE AND CAR EXPERIENCE AND NO 
EXPERIENCE WELCOME START TOMORROW IF YOU HAVE FULL PPE AND RADIO CALL ME ON 0488 002 360 
New rates Normal - $31.93
Time x 1.5 - $44.70 Double - $57.47
Travel $20.32 Meal $16.37
MUST BE WILLING TO TRAVEL 1.5 HOURS AS OUR JOBS ARE ALL OVER SYDNEY

 </p>
<p class="card-text"> a link </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#f2c289; color:#2f0fed">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2d789; color:#2f0fed">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> This is the second advert </p>
<p class="card-text"> Hi Everyone,
We are holding a Operate Truck Mounted Attenuator course on the 25th of march 9am at Wetherill park.
course is $550 Per person and will be given the certificate on the day with the Card being sent in the mail.
Must have a Current MR or higher truck licence and experience in the traffic control industry
If you want to acquire your traffic control tickets please send me a me a message as we run these courses all over NSW.
Send me a message if you are interested
Training course is brought to you by Admire workplace safety
 </p>
<p class="card-text"> another link </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#9d8559; color:#00000">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2c289; color:#00000">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> Another one bites the dust </p>
<p class="card-text"> Hey guys can someone tell me if our 30 mins break is deducted from the first 8 hours of work or overtime? i do 10 hour shifts everyday at a job site and i noticed they’re deducting my 30 mins lunch break during time and a half instead of ordinary hours. is this typical? i take my break before the 6th hour. at my old company it was deducted in the first 8 hours hence the question. 
thanks guys </p>
<p class="card-text"> link  lance lot </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#f2c289; color:#2f0fed">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2d789; color:#2f0fed">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> A night at the opera </p>
<p class="card-text"> Hey guys I have for sale,
x1 Workcraft night white cargo pants size 97s worn only a few times on a road closure $55 includes postage.
x1 DNC RMS Speck Night White Overalls size 117s (Never worn only to try on) fits perfect over two sets of track pants and two hoodies if your a 97 XL build $140 includes postage.… </p>
<p class="card-text"> anothe loody link </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#9d8559; color:#00000">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2c289; color:#00000">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> A night at the opera </p>
<p class="card-text"> Hey guys I have for sale,
x1 Workcraft night white cargo pants size 97s worn only a few times on a road closure $55 includes postage.
x1 DNC RMS Speck Night White Overalls size 117s (Never worn only to try on) fits perfect over two sets of track pants and two hoodies if your a 97 XL build $140 includes postage.… </p>
<p class="card-text"> anothe loody link </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#f2c289; color:#2f0fed">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2d789; color:#2f0fed">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->
<div class="row"><!-- Row 1  -->
<div class="col"><!-- cell A  -->
<div class="card" style="width: 42rem;">
<p class="card-text"> A night at the opera </p>
<p class="card-text"> Hey guys I have for sale,
x1 Workcraft night white cargo pants size 97s worn only a few times on a road closure $55 includes postage.
x1 DNC RMS Speck Night White Overalls size 117s (Never worn only to try on) fits perfect over two sets of track pants and two hoodies if your a 97 XL build $140 includes postage.… </p>
<p class="card-text"> anothe loody link </p>
</div><!-- end of card  -->
</div><!-- end cell A  -->
<div class="col"><!-- New column Cell   -->
<div class="card" style="width: 20rem;"><!-- new card Right -->
<div style="background:#9d8559; color:#00000">
<div class="p-2 mb-2 p-2 mb-2">
<img class="card-img-top" src="..\media\lack.jpg" >
</div><!-- image margins  -->
</div><!-- card header format -->
<div style="background:#f2c289; color:#00000">
 <div class="card-body"> <p class="card-text";>Evolutions Jupiter branch is running TC  TCI and white card combined course on 18 19 and 20 of Juberary</p>
<p class="card-text">Click here for more information</p>
 </div> <!-- card-body  -->
 </div> <!-- card-text  -->
 </div> <!-- end of card -->
 </div> <!-- end cell B -->
 </div> <!-- end row 1 -->




    </div><!-- end Left Column -->

  <div class="right-column">
  <p><h3> Urgent - Shifts Available</h3></p> 
   <a href="/static/forums/forums_index.html ">Visit forums sss  Schools.com!</a>
<ul class="scrolling-list">
<h3>the loop loop </h3>
{% for shifts in shifts_list %} 
    <div class="card text-light bg-dark mb-3" style="max-width: 95%;">
      <div class="card-header text-light bg-dark ">
         {{ shifts.shift_title }}
     </div>
      <div class="card-body text-dark bg-light">
        <h5 class="card-title bg-light ">
          <p class="fs-6"> {{ shifts.shift_desc }}</p>
        </h5>
        <p class="card-text">
        <strong>Where:</strong> {{ shifts.shift_location }} 
        <strong>When:</strong>  {{ shifts.shift_date_time }} <br>          
        <strong>Employer:</strong> {{ shifts.emp_unique_idx.short_name }}<br>
        <strong>Hours: </strong>{{ shifts.duration }}<br>
        <strong>contact:  </strong>{{ shifts.cont_name }} <strong> Phone:  </strong>{{ shifts.cont_cell }}<br>
        <strong>Required: </strong>{{ shifts.ticketsreqd }} 
      </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
{% endfor %}  

    </ul>
  </div>
</div>
</body>




<style>
.homepage-wrapper {display: flex;flex-wrap: wrap;}
.left-column {width: 70%;    /* or whatever width you want */}
.right-column {flex: 1;margin-top: 30px;}
.scrolling-list {overflow-y: scroll;height: 600px; /* or whatever height you want */}
/* Responsive styles */
@media (max-width: 768px) {.homepage-wrapper {flex-direction: column;}
.right-column {margin-top: 0;}
.scrolling-list {height: auto;max-height: 300px;}
</style>
{% endblock %}


